<h1 class="text-center">Thông tin nhân viên</h1>
<form asp-action="">
    <label>Mã nhân viên:</label>
    <input type="number" name="EmployeeID" value="1">
    <br>
    <label>Họ tên nhân viên:</label>
    <input type="text" name="EmployeeName" value="Nguyen Van A">
    <br>
    <label>Chức vụ nhân viên:</label>
    <input type="text" name="EmployeePosition" value="Giam Doc">
    <br>
    <input type="submit" value="Gửi">
</form>
<h1>@ViewBag.ThongTin</h1>